{% extends 'base.html' %}

{% block title %}Data Exploration{% endblock %}

{% block content %}
    <h2>Data Exploration</h2>
    <p>In this section, we will explore the Delaney dataset, which contains experimental solubility values for a diverse set of compounds. Use the interactive tools below to analyze the dataset and gain insights into the relationships between different features and solubility.</p>

    <div class="row">
        <div class="col-md-6">
            <h3>Solubility Distribution</h3>
            <div id="solubility-distribution"></div>
        </div>
        <div class="col-md-6">
            <h3>Feature Correlation Matrix</h3>
            <div id="feature-correlation"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h3>Solubility vs. Selected Feature</h3>
            <div id="solubility-vs-feature"></div>
        </div>
        <div class="col-md-6">
            <h3>Parallel Coordinates Plot</h3>
            <div id="parallel-coordinates"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3>Interactive Data Table</h3>
            <div id="data-table"></div>
        </div>
    </div>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        // Fetch data from the server
        axios.get('/data')
            .then(function (response) {
                const data = response.data;

                // Solubility Distribution
                const solubilityDistributionData = [{
                    x: data.solubility,
                    type: 'histogram',
                    xbins: {
                        start: Math.min(...data.solubility),
                        end: Math.max(...data.solubility),
                        size: 0.5
                    }
                }];
                Plotly.newPlot('solubility-distribution', solubilityDistributionData);

                // Feature Correlation Matrix
                const correlationData = [{
                    z: data.correlationMatrix,
                    x: data.features,
                    y: data.features,
                    type: 'heatmap',
                    colorscale: 'Viridis'
                }];
                Plotly.newPlot('feature-correlation', correlationData);

                // Solubility vs. Selected Feature
                const solubilityVsFeatureData = [{
                    x: data.molecularWeight,
                    y: data.solubility,
                    mode: 'markers',
                    type: 'scatter'
                }];
                const solubilityVsFeatureLayout = {
                    title: 'Solubility vs. Molecular Weight',
                    xaxis: { title: 'Molecular Weight' },
                    yaxis: { title: 'Solubility' }
                };
                Plotly.newPlot('solubility-vs-feature', solubilityVsFeatureData, solubilityVsFeatureLayout);

                // Parallel Coordinates Plot
                const parallelCoordinatesData = [{
                    type: 'parcoords',
                    dimensions: data.features.map(feature => ({
                        label: feature,
                        values: data[feature]
                    })),
                    line: {
                        color: data.solubility,
                        colorscale: 'Viridis'
                    }
                }];
                Plotly.newPlot('parallel-coordinates', parallelCoordinatesData);

                // Interactive Data Table
                const dataTableData = data.rawData.map(row => ({
                    compound: row.compound,
                    solubility: row.solubility,
                    ...row.features
                }));
                const dataTableLayout = {
                    title: 'Delaney Dataset',
                    columns: Object.keys(dataTableData[0]).map(key => ({
                        name: key,
                        field: key
                    }))
                };
                Plotly.newPlot('data-table', [dataTableData], dataTableLayout);
            })
            .catch(function (error) {
                console.log(error);
            });
    </script>
{% endblock %}