{% extends 'base.html' %}

{% block title %}Module 1: Simple Drug Property Prediction{% endblock %}

{% block content %}
    <h1>Module 1: Simple Drug Property Prediction</h1>
    <p>Welcome to Module 1 of the Flask Computational Chemistry ML Lab for Drug Distribution!</p>
    <p>In this module, you will learn about the basics of drug property prediction using machine learning techniques. We will focus on predicting the solubility of drug molecules using the Delaney dataset.</p>
    <p>Navigate through the sections below to explore the concepts and techniques involved in simple drug property prediction:</p>
    <ul>
        <li><a href="{{ url_for('module1_introduction') }}">Introduction</a></li>
        <li><a href="{{ url_for('module1_theoretical_background') }}">Theoretical Background</a></li>
        <li><a href="{{ url_for('module1_data_exploration') }}">Data Exploration</a></li>
        <li><a href="{{ url_for('module1_feature_engineering') }}">Feature Engineering</a></li>
        <li><a href="{{ url_for('module1_model_building') }}">Model Building</a></li>
        <li><a href="{{ url_for('module1_model_evaluation') }}">Model Evaluation</a></li>
        <li><a href="{{ url_for('module1_model_interpretation') }}">Model Interpretation</a></li>
        <li><a href="{{ url_for('module1_demo') }}">Demo: Drug Property Prediction</a></li>
        <li><a href="{{ url_for('module1_exercises_quizzes') }}">Exercises and Quizzes</a></li>
        <li><a href="{{ url_for('module1_discussion_reflection') }}">Discussion and Reflection</a></li>
    </ul>
{% endblock %}